name: headingComment
language: talon
phrase: heading

$0.wrapperPhrase: heading
$0.insertionFormatter: CAPITALIZE_ALL_WORDS

-

# =====================================
# $0
# =====================================

---
