name: headingComment
phrase: heading
$0.wrapperPhrase: heading
$0.insertionFormatter: CAPITALIZE_ALL_WORDS
---

language: talon
-

# =====================================
# $0
# =====================================

---

language: csharp
-

// =====================================
// $0
// =====================================

---

language: razor
-
@*
=====================================
 $0
=====================================
*@
---


