name: methodDeclaration
phrase: method
insertionScope: namedFunction | statement
---

language: javascript | typescript | javascriptreact | typescriptreact

$1.insertionFormatter: PRIVATE_CAMEL_CASE
-
$1($2) {
    $0
}
---

language: go

$1.insertionFormatter: PRIVATE_CAMEL_CASE
-
func ($2 *$3) $1($4) $5 {
    $0
}
---
